from setuptools import setup, find_packages
setup(
    name="$name",
    version="$ver",
    packages=find_packages(),
    entry_points={
    	'console_scripts': $console_scripts
    },
    install_requires=$requirements,
)
